body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p::first-letter {
  text-transform:capitalize;
}

.display{
  width:30%;
  display: flex;
  flex-wrap: wrap;
}

.title{
  width:25%;
  height:18%;

}

.icon {
  margin-right:5%;
  margin-top:8%;
  width:10%;
  height:18%;

}

.header{
  height:100px;
  justify-content: center;
  background: linear-gradient(90deg, #3a38d4 1.18%, #837cf1 100%);
  display: flex;
}

