body {
  background: linear-gradient(90deg, #1b1b1d 1.18%, #837cf1 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainProfile{
    display:flex;
    margin: 25px;
}

.profileBox{

  
}

.profileBox2{
  margin-left:40%;
}

.profileBox3{
  width:40%;
  margin-left:15px;
}

.popup-inner{
  position:relative;
  color:white;
  width:100%;
  max-width:640px;
  background: linear-gradient(90deg, #1b1b1d 1.18%, #837cf1 100%);
  border-radius:9px;

}

.popupImg{
  background: linear-gradient(90deg, #1b1b1d 1.18%, #837cf1 100%);
  border-radius: 50%;
  border: 2px inset rgb(196, 196, 196);
  width:150%;
  height:100%;
  
}

.popupName{
  margin-right:65%;
  font-size: 20px;
}

.popupId{
  opacity: 0.5;
  font-style: italic;
  margin-right:65%;
}

.popup{
  
  position:fixed;
  background-color :rgba(0,0,0,0.8);
  top:0;
  left:0;
  width:100%;
  height:100%;
  align-items: center;
  display:flex;
  justify-content: center;

}

.load:hover {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    rgb(8, 200, 248) 10% 20%,
    transparent 20% 30%,
    rgb(8, 200, 248) 30% 40%,
    transparent 40% 50%,
    rgb(8, 200, 248) 50% 60%,
    transparent 60% 70%,
    rgb(8, 200, 248) 70% 80%,
    transparent 80% 90%,
    rgb(8, 200, 248) 90% 100%
  );
  animation: background 3s linear infinite;
}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.description{
  line-height: 18px;
}


.load {

  position: fixed;
  bottom: -4px;
  right: 10px;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgb(57, 156, 214);
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px rgb(8, 200, 248) inset;
  margin-bottom: 15px;
}


.display{
  margin-left:auto;
  margin-right:auto;
  width:960px;
  display: flex;
  flex-wrap: wrap;

}

.title{
  
  width:200px;
  height:190px;

}

.icon {
  margin-right:2%;
  margin-top: 60px;
  width:80px;
  height:80px;

}

.header{
  height:170px;
  justify-content: center;
  
  display: flex;
}

.ground {
  border: 5px inset #E0C068;
  background-color: #E0C068;
}
.ice {
  border: 5px inset #98D8D8;
  background-color: #98D8D8;
}

.steel {
  border: 5px inset #B8B8D0;
  background-color: #B8B8D0;
}

.fighting {
  background-color: #C03028;
  border: 5px inset #C03028;
}

.dragon {
  background-color: #7038F8;
  border: 5px inset #7038F8;
}

.flying {
  background-color: #A890F0;
  border: 5px inset #A890F0;
}

.dark {
  background-color: #705848;
  border: 5px inset #705848;
}

.psychic {
  border: 5px inset #A65E9A;
  background-color: #A65E9A;
}

.rock {
  border: 5px inset #B8A038;
  background-color: #B8A038;
}
.ghost {
  border: 5px inset #B8B8D0;
  background-color: #705898;
}
.electric {
  border: 5px inset #FAB536;
  background-color: #FAB536;
}
.bug {
  border: 5px inset #A8B820;
  background-color: #A8B820;
}
.poison {
  border: 5px inset #e0a7f6;
  background-color: #e0a7f6;
}
.normal {
  border: 5px inset #A8A878;
  background-color: #A8A878;
}
.fairy {
  border: 5px inset #EE99AC;
  background-color: #EE99AC;
}
.fire {
  border: 5px inset #f84f4f;
  background-color: #f84f4f;
}
.grass {
  border: 5px inset #78C850;
  background-color:#78C850;
}
.water {
  border: 5px inset #5BC7E5;
  background-color:#5BC7E5;
}

.dex{
  width:130px;
  text-align: center;
  line-height: 5px;
  border-radius: 15px;
  margin:5px;
}

.name{
  font-weight:bold;

}

.id{
  font-size:15px;
  color:rgb(63, 56, 56);

}

.type{
  border:1px solid white;
  color:white;
  border-radius:5px;
  margin-left:30%;
  padding:6px;
  width:30%;
  height:3%;
  font-size:12px;

}

p::first-letter {
  text-transform:capitalize;
}

.abilities{
  justify-content: center;
  display:inline-flex;

}

.abilities>p{
  margin-left:5px;
  text-transform: capitalize;

}

.typeBox{
  justify-content: center;
  display:flex;
}

.typeBox>p{
  margin:2px;
}